/* Inserta tu CSS aqui */
.caja{
	border: 2px solid #444;
	background: #999;
	width: 70px;
	height: 70px;
	margin: 10px;
}

.contenedor{
	border: 2px solid #444;
	background: #999;
	margin-left: 10px;
}
.contenedor,.alineada{
    display: inline-block;
}
.contenedor:only-child{
	margin-top: -6px;
}

div:last-of-type{
	margin-top: -3px;
}

